/* Dashboard.php */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

table, td, th {
  border: 1px solid;
  padding: 10px;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  background-color: rgba(255, 128, 0, 0.2);
}

.sidebar .logo-container {
  padding: 20px 10px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.sidebar .logo-container a {
  display: inline-block;
  padding: 0;
  
}

.sidebar .logo-container a:hover {
  background-color: transparent;
}

.sidebar .sidebar-logo {
  width: 100%;
  max-width: 180px;
  height: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 20px;

  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
/* End of Dashboard.php */

